* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    /* border: 2px solid black; */
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    color: black;
}
h2 {
    margin-bottom: 1.5em;
    font-size: 2.2em;
    letter-spacing: 0.1em;
    font-style: italic;
    border: 6px solid yellow;
    border-radius: 50px;
    padding: 25px;
    box-shadow: 5px 5px #545e02;
}

h3 {
    margin-bottom: 1.5em;
    font-size: 2em;
    letter-spacing: 0.1em;
    font-style: italic;
    border: 6px solid yellow;
    border-radius: 50px;
    padding: 15px;
    box-shadow: 10px 5px #545e02;
}
#form {
    width: 100%;
    /* border: 1px solid red; */
}
input {
    padding: 0.4em;
    width: 20%;
    border-radius: 10px;
    border: none;
    background-color: rgba(254, 254, 50, 0.918);
    color: #20631e;
    font-size: 0.9em;
}
select {
    padding: 0.4em;
    width: 8%;
    text-align: center;
    color: yellow;
    background-color: #20631e;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
}
button {
    width: 7%;
    padding: 0.4em;
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#result {
    font-size: 1.3em;
    border:4px solid yellow;
    border-radius: 10px;
    padding: 5px;
    margin-left: 6px;
    width: 100%;
    box-shadow: 5px 5px #545e02;
}
